/* .btnspinner{
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.spinner_area input{
	padding: 11px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 18px;
	width: auto;
	vertical-align: middle; */

	/* デフォルトのスピナーを消す */
	/* -webkit-appearance: none;
	-moz-appearance:textfield;
} */

/* .spinner_area input[type="button"]{
	cursor: pointer;
}  */

.mixing_content {
	margin-left: 10%;
	width: 49%;
}

input[type="number"] {
	width: 10em;
	text-align: center;
	padding-right: 3px;
}

input[type="button"] {
	font-size: 150%;
}

.btnspinner {
	width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
	border: 1px solid #1a1a1a;
  background: #fff;
	user-select: none;
}

.btnspinner:hover {
	color: #fff;
  background: #000;
}



.relax_content {
	padding:24px 0 0 24px;
	text-align: center;
}

.inflammation_content {
	padding:24px 0 0 24px;
	text-align: center;
}

.paschoactive_content {
	padding:24px 0 0 24px;
	text-align: center;
}

.vitality_content {
	padding:24px 0 0 24px;
	text-align: center;
}

.headache_content {
	padding:24px 0 0 24px;
	text-align: center;
}

.insomnia_content {
	padding: 24px 0 24px 24px;
	text-align: center;
}

.submit_form {
	text-align: center;
}

.button {
	font-size: xx-large;
	/* text-align: center; */
  padding: 0;
	border: 1px solid #1a1a1a;
  background: #fff;
	user-select: none;
	margin-bottom: 24px;
	border-radius: 12px;
	padding: 0 2em 0 2em;
}

.button:hover {
	color: #fff;
  background: #000;
}

/* main {
	transition: all 0.5s;
	-webkit-text-stroke: 4px #d6f4f4;
	font-variation-settings: "wght" 900, "ital" 1;
	font-size: 15rem;
	text-align: center;
	color: transparent;
	font-family: "Meta", sans-serif;
	text-shadow: 10px 10px 0px #07bccc,
		15px 15px 0px #e601c0,
		20px 20px 0px #e9019a,
		25px 25px 0px #f40468,
		45px 45px 10px #482896;
	cursor: pointer;
}

main:hover {
	font-variation-settings: "wght" 100, "ital" 0;
	text-shadow: none;
} */