.index_main_content {
  /* background-color: rgba(255, 255, 255, 0.8); */
	/* transform: scale(0.7, 0.7); */
}

.YTPOverlay {
	background-color: rgba(255, 255, 255, 0.8);
}

.star-form {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.star-form input[type=radio] {
  display: none;
}
.star-form label {
  position: relative;
  padding: 0 5px;
  color: #ccc;
  cursor: pointer;
  font-size: 35px;
}
.star-form label:hover {
  color: #ffcc00;
}
.star-form label:hover ~ label {
  color: #ffcc00;
}
.star-form input[type=radio]:checked ~ label {
  color: #ffcc00;
}

.item_title {
  font-weight: 900;
}

.item_box {
  display: flex;
  width: 500px;
  padding: 1rem 2rem;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  margin-right: 100px;
  margin-bottom: 30px;
}

.item_discription {
  margin-left: 5%;
}

.item_price {
  margin-right: 5%;
  font-weight: 900;
}
